<div class="container">
  
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br><br>

      <%= form_for @event, html: { class: "form-signin mt-3" } do |f| %>
        
        <h1 class="h3 mb-3 font-weight-normal text-center">Modifie ton évènement</h1>
        
        <div class="form-group">
          <%= f.label :start_date, "Date" %> 
          <%= f.datetime_field :start_date, class: "form-control"%>
        </div>

        <div class="form-group">
          <%= f.label :duration, "Durée (doit être un multiple de 5)" %> 
          <%= f.text_field :duration, class: "form-control"%>
        </div>

        <div class="form-group">
          <%= f.label :title, "Titre (entre 50 et 140 caractères)" %> 
          <%= f.text_field :title, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :description, "Description (entre 20 et 1000 caractères)" %>
          <%= f.text_area :description, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :price, "Prix (entre 1 et 1000 €)" %>
          <%= f.text_field :price, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :location, "Lieu" %><br />
          <%= f.text_field :location, class: "form-control" %>
        </div>

        <div class="actions mt-5">
          <%= f.submit "Enregister les modifications", class: "btn btn-lg btn-danger btn-block" %>
        </div>
      <% end %>

      <br><br>
    </div>
  </div>
</div>